@font-face {
    font-weight:500;
    font-family:'Product Sans';
    src:url('fonts/Product Sans Bold.ttf');
    font-style: bold;
}
@font-face {
    font-weight:400;
    font-family:'Product Sans';
    src:url('fonts/Product Sans Regular.ttf');
    font-style:normal;
}

body{
    font-family: 'Product Sans';
    background-color: #f2f2f2;
}

.slide-nav {
    height: 100%;
    position: fixed;
    width: 0;
    z:index: 1;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s; 
}

.slide-nav a {
    text-decoration: none;
    padding: 8px 8px 8px 32px;
    display: block;
    font-size: 20px;
    color: #f2f2f2;
    transition: 0.3s;
}

.slide-nav a:hover {
    opacity: 0.7;
}

.slide-nav .closebtn {
    position: absolute;
    padding: 2px 6px;
    top:0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn:hover {
    opacity: 0.7;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Styles for hamburger menu */
.container {
    display: inline-block;
    cursor: pointer;
    margin-top: 1%;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    border-radius: 6px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

/* .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
} */